/* authored by Hem Sharma Acharya[hemtros@gmail.com]*/

div#greeting{
    height:30px;
    background-color: #0099CC;
    width: 100%;
    padding-left:4px;
    padding-right:0px;
}

div.col-xs-10{
    padding-left: 0px;
    padding-right: 0px;
}

.sidebar .sidenav{
	margin-bottom: 1px;
	text-align: center;
	padding-top: 4%;
	height:40px;
	background-color: #d8d8d8;
	font-size: 1.2em;
}

.sidebar .sidenav:hover{
	background-color: #E5E5E5;
	text-decoration: none;
	display: block;

}

.sidebar .activesidenav{
    background-color: #E5E5E5;
	text-decoration: none;
	display: block; 
}

div.addkeyworddiv{
     position:absolute;
    top: 25%;
    left:15%;
    width:35%;
}

#showinfo{
    text-align:left;
    width:100%;
   /* word-wrap:break-word;*/
    word-break:break-all;
    overflow:auto;
}

#showinfo1{
    text-align:center;
}

div.showmonwords{
    position:relative;
    top:20%;
    width:350px;
}

ul.monwordstable{
    border: 1px solid #0a708e;
    width: 250px;
    list-style:none;
    padding-left:0px;
    font-size:1.3em;
}
.monwordstable li{
    background-color: #4fa2ad;
   // border-bottom: 2px dotted teal;
    color:white;
    padding-left:6px;
}

.monwordstable li{
    display:block;
    color:white;
    text-decoration:none;
}

.monwordstable li:hover{
    display:block;
    background-color:#35b5b5;
    color:black;
    text-align:center;
    text-decoration:none;
    font-family: cursive;
    cursor:hand;
    cursor:pointer;
}



.keywordsinfo{
    width:52%;
    height: 75%;
    float:right;
    //border: 10px solid teal;
    text-align:center;
   
    
}

.keywordsinfo .shortinfo{
    position:relative;
    top:20%;
    left:20%;
}

.keywordsinfo strong{
    font-size: 1.5em;
}

div#startmonitoring{
    float:right;
    position:relative;
    top:18%;
    width:34%;
    overflow:auto;
    
}

p#showinfo1{
   // border: 2px solid red;
    text-align:left;
}

ul#monwordstablenoclick li:hover{
    cursor:default;
    
}

ul#monwordstablenoclick li img.minus-btn:hover{
    cursor:pointer;
}

ul#monwordstablenoclick{
    float:right;
}

div.showmonwords_home{
    
    position:relative;
    top:5%;
    left:62%;
    width:350px;
    
}

div.showmonwords_home p{
    text-align:right;
}


/*for searchbox in users homepage*/

p#liupage_showinfo{
    position:absolute;
    top:35%;
    left:18%;
    width:33%;
    overflow:auto;
}

.liusearch{
    position:absolute;
    top: 30%;
    left:10%;
    width:45%;
    border-radius:3px;
    
}

.liusearchaftertype{
    top:10%;
}
#liuprogressbar{
    position:absolute;
    top:35%;
    left:28%;
    width:70%;
    
}

canvas#piechart{
    float:right;
    padding-top:5px;
}

div.piechartDiv{
    margin-top:10px;
    
}

#pielegend{
    position:relative;
    left:40%;
}

div.kinfoDiv{
    margin-top:10px;
}

div.showmonwords{
    margin-top:3%;
}

#liumcontentbody{
    overflow:hidden;
}





