/* authored by Hem Sharma Acharya[hemtros@gmail.com]*/

body{
	background:transparent url(../images/foggy_birds.png) ;
	background-repeat: repeat;
}

.banner{
    background-color: #59C4C5;
    z-index:50;
}

#websiteheading{
	/*font-family:sans-serif;*/
	font-weight: bold;
	font-size: 30pt;
    border-bottom: 2px;
}

#tagline{
	font-family: verdana;
	font-style: italic;
	font-size: 15pt;
    border-top: 2px;
    margin-top:4px;
}


.nav{
    margin-bottom:0px;
    padding-bottom:0px;
    border-bottom:0px;
}

.navibar{
   /* background-color:#00C8F8;*/
    z-index:1000;
    background-color: #59C4C5;
}

.navibar li a{
    border-radius:0px;
    color:#fff;
    font-weight: bold;
	font-size: 1.5em;
	font-family: serif;
}

.navibar li a:hover{
   /* background-color: #EAE2B4;*/
    background-color:#d8d8d8;
    z-index:1000;
}

.myactive{
   background-color: #d8d8d8; 
}

/*experimental  */

.wrapper {
    position: relative;
}

.wrapper:after {
    display: block;
    content: " ";
    height: 0;
    clear: both;
}

.block {
    position: relative;
    float: left;
    vertical-align: top;
    width: 200px;
    //text-align: left;
    min-height: 478px;
    padding-left: 20px;
    z-index: 2;
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 200px;
    z-index: 1;
}

.bg1 {
    background-color: #d4d4d4;
}

.bg2 {
    left: 200px;
    background-color: #d4d4d4;
}
/*end experimetal */



.sidebar{

    background-color: #d4d4d4;
    z-index:50
}

.content{
    background-color:#E5E5E5;
    overflow:auto;
    z-index:50;
}

.sidebar .registernav,.sidebar .loginnav{
	margin-bottom: 1px;
	text-align: center;
	padding-top: 4%;
	height:40px;
	/*background-color: #EAE2B4;*/
    background-color:#d8d8d8;
	font-size: 1.2em;
}

.sidebar a{
	text-decoration: none;
	position: relative;
    color:#908585;
}

.sidebar .registernav:hover,.sidebar .loginnav:hover{
	background-color: #E5E5E5;
	text-decoration: none;
	display: block;

}

.sidebar .activesidenav{
    background-color: #E5E5E5;
	text-decoration: none;
	display: block; 
}




.footer{
   // background-color: #24A7B4;
    background-color:#59C4C5;
    color:#fff;
	font-size: 10pt;
    height:30px;
    z-index:50;
}

.search{
    position:absolute;
    top: 50%;
    left:25%;
    width:45%;
    border-radius:3px;
    
}

.searchaftertype{
    top:10%;
}



.contentbody .sidebar{
    width:20%;
}

.contentbody .content{
    width:80%;
        
}

p#indexpage_showinfo{
    position:absolute;
    top:40%;
    left:32%;
    width:43%;
    overflow:auto;
}

.ccodediv{
     position: relative;
    top:50%;
    left:25%;
    width:30%
    
}

.regerror{
    position:relative;
    top:4%;
    left:40%;
    width:400px;
}

.container{
    padding-left: 8px;
    padding-right: 8px;
}

.nav.nav-pills{
    min-height:30px;
}

ul#navigbar li a{
    padding-top:7px;
    padding-bottom:7px;
}



.legend {
    width: 10em;
 
}

.legend .title {
    display: block;
    margin: 0.5em;
    border-style: solid;
    border-width: 0 0 0 1em;
    padding: 0 0.3em;
}

#progressbar{
    position:absolute;
    top:35%;
    left:28%;
    width:70%;
    
}

